body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif	;

}
.slideshow {
display: block;
}


.bazaOpis{
  float: left;
  margin-left: 30px;
}

.opis {
  margin-left: 50px;
  width: 500px;
  font-weight: bold;
}
.admin-edit {
  margin-bottom: 50px;
  width: 80%;
  border: 1px solid #ccc;
  margin-left: 70px;
  padding: 20px;

}
.opis-stranice {
  background-color: #2196F3;
  height: 50px;
  padding: 10px;
}

.opis-stranice a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
#regforma span {
  color: red;
  font-size: 13px;
  display: block;
}

.admin-edit li {
  display: block;
  margin: 20px 10px;
  border-bottom: 1px solid black;
  width: 100%;

}
.admin-edit p {
  padding-top: 30px;

}

.admin-edit span {
    color: rgba(47, 48, 51, 0.83);
    font-size: 19px;
    font-family: "Times New Roman",monospace;
    font-weight: bold;
    margin-left: -10px;

}
.admin-edit button {
  background-color: #ff2929;
  float: right;
  color: white;
}

#fajl {
  border: 0px;
}


#inputi input, #inputi input:first-of-type {
  width: 130px;
}

.topedit {
  background-color: #2196F3;
  padding: 20px;
  margin: -20px;
}
.admin-edit textarea {
  width: 70%;;
}


.slideshow img {
position: absolute;
height: 450px;
width: 100%;
margin: auto;

}

#pretraga li {
  width: 80%;
  height: auto;
}

.proizvodiDiv {
  margin-top: 500px;
  margin-bottom: 100px;
}

.products li {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;

}
.pretraga  {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;

}

.products h4   {
  padding-left: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #2196F3;
  text-decoration: none;
}

.products p {
  padding-left: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  color: gray;
  text-decoration: none;
}


li img {
  height: 170px;
  width: 100%;
}



 li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
li a{
  color : grey;
}

.vrh{
  background-color: #2196F3;
  height: 100px;
}

h1 {
  padding-left: 20px;
  margin: auto;
  color: white;
}

  .naslov-pretraga {
    float: left;
  }

  .nalog {
    text-align: center;
    float: right;
    padding-right: 30px;
  }
  .nalog span {
    color: white;
  }

  .opis-stranice {
    color: red;
  }
  .nalog button {
    font-size: 12px;

    border-radius: 45px;
    width: 100px;
    margin: 8px 0px;
    padding: 14px 20px;


    color: black;
  }

.vrh input, select {
  width: 300px;
  height: 30px;
  margin-left: 40px;
  border-radius: 55px;
}

.vrh button {
  padding: 7px 12px;
  border-radius: 45px;


}
button {
  background-color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 5px;

}
.prijava-prozor button {
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 8px 25px;
    border: none;
    cursor: pointer;
    width: 90%;
	  font-size:20px;
}
button:hover {
    opacity: 0.8;
}

.prijava-prozor {

    display:none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}

.login , .register  {
  display: none;
  margin: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

.proizvodi {
  padding-top: 200px;
  margin-bottom: 50px;
}
.proizvodi button , .proizvodiDiv button {
  background-color: #2196F3;
  color: white;
  margin-left: 50px;
}

input   {
  width: 80%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size:16px;
  display: inline-block;
}

.pretraga input , select  {
  border: 1px solid #ccc;
  width: auto;
}


.slider {
text-align: center;

}
h2 {
  text-align: center;
  border-bottom: 1px solid #2196F3;
  padding-bottom: 5px;
  margin: 10px;
}

.prijava-sadrzaj{
  background-color: #fefefe;
   margin: 15% auto 15% auto;
   border: 1px solid #888;
   padding: 30px;
   width: 30%;

}



/*
  position : fixed; width :100% i height : 100%
  omugucavaju da se prozor nalazi preko ostalog html
  margin: 15% auto 15% auto; pozicionira prozor


*/
